name: chaos-workshop

services:
  lgtm:
    image: grafana/otel-lgtm
    hostname: chaos-lgtm
    container_name: chaos-lgtm
    ports:
      - "3000:3000" # ui
      - "4317:4317" # otlp gRPC
      - "4318:4318" # otlp HTTP

  postgres:
    image: "postgres:17-alpine"
    hostname: chaos-pg
    container_name: chaos-pg
    ports:
      - "15432:5432"
    environment:
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "pass"
    labels:
      chaos.disruption.target: true
      chaos.disruption.type: graceful-stop